<div class="bg-yellow-400">
  <div class="container lg:p-4 m-auto flex items-center justify-between">
    <h1 class="lg:text-xl text-lg text-gray-800 font-mono font-normal">Admin</h1>
    <div>
      <%= link_to "Users", admin_users_path, class: "text-gray-800 mx-2" %>
      <%= link_to "Submissions", admin_submissions_path, class: "ml-2 text-gray-800" %>
    </div>
  </div>
</div>
