.modal {
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100vw;
  z-index: 99;

  &.is-active {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    background: rgba(255, 255, 255, 0.9);
    visibility: visible;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
