<h3 class="font-light mb-4">Posting to Webbit</h3>
<ol class="list-reset leading p-o text-sm">
  <li class="border-b font-semibold py-1">Remember to be human</li>
  <li class="border-b font-semibold py-1">Behave like you would in real life</li>
  <li class="border-b font-semibold py-1">Look for the original source of content</li>
  <li class="border-b font-semibold py-1">Search for duplicates before posting</li>
  <li class="border-b font-semibold py-1">Read the community's rules</li>
</ol>
