<p class="text-gray-600 font-normal text-sm inline-block">
  Post by <%= link_to "u/#{submission.user.username}", profile_path(submission.user), class: "no-underline text-gray-600 font-normal hover:text-gray-700 hover:underline" %>
  <%= time_ago_in_words(submission.created_at) %> ago
</p>
