<%= link_to "#", class: "block text-center" do %>
  <%= render_svg "icons/up-vote", title:"upvote", styles: "fill-current text-gray-600 hover:text-purple-700 inline" %>
<% end %>

<span class="text-gray-700 text-center block text-sm js-votes">1</span>

<%= link_to "#", class: "block text-center" do %>
  <%= render_svg "icons/down-vote", title:"upvote", styles: "fill-current text-gray-600 hover:text-purple-700 inline" %>
<% end %>
