<div class="max-w-xl my-16 m-auto p-10 rounded shadow bg-white flex items-center justify-between">
  <div class="flex-1">
    <h2 class="mt-4 text-gray-800 font-bold">Successfully unsubscribed</h2>
    <%= link_to "Return to Webbit", root_path, class: "btn btn-purple btn-small inline-block mt-4" %>
  </div>

  <%= image_tag "unsubscribe-image.svg", class: "w-64" %>
</div>
