<p>Hey <%= @submission.user.username %>,</p>

<p>Your submission <%= @submission.title %> recieved a response.</p>

<p>New Comment:</p>
<p><%= @comment.reply %></p>

<p>
  <%= link_to "Unsubscribe", comment_unsubscribe_url(@submission.user.unsubscribe_hash) %>
</p>
