@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/animation";
@import "components/base";
@import "components/icons";
@import "components/buttons";
@import "components/cards";
@import "components/forms";
@import "components/navigation";
@import "components/submissions";
@import "components/tabs";
